<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>f-Online API</title>

  <!-- Bootstrap css-->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!--Icon Font-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Propeller css -->
  <link href="css/propeller.min.css" rel="stylesheet">

  <!-- css -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div class="row-container row">
    <nav class="card-top navbar navbar-inverse pmd-navbar col-md-6 col-md-offset-3 pmd-z-depth-1">
      <div class="container-fluid"> 
        <div class="navbar-header">
            <h1 class="text-white">F-Online Api</h1>
        </div>
      </div>
    </nav>
    <div class="content-container col-md-6 col-md-offset-3 pmd-z-depth-1">
      <div class="infocard">
        <div class="col-md-10 col-md-offset-1">
          <div class="pmd-card pmd-table-card-responsive">
            <div class="pmd-table-card">
              <table class="table pmd-table table-hover">
                <thead>
                  <tr>
                    <th width="40%">Link</th>
                    <th width="60%">Return</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="clickable">
                    <td data-title="Link">
                    <button type="button" class="btn pmd-ripple-effect pmd-btn-raised btn-default"><i class="fa fa-code" aria-hidden="true"></i> Test </button >
                    <code>/api</code>
                    </td>
                    <td data-title="Return">Alle Fragen</td>
                  </tr>
                  <tr class="clickable">
                    <td data-title="Link">
                    <button type="button" class="btn pmd-ripple-effect pmd-btn-raised btn-default"><i class="fa fa-code" aria-hidden="true"></i> Test </button >
                    <code>/api/<edit contenteditable="true">1</edit>/</code>
                    </td>
                    <td data-title="Return">Einzel Frage</td>
                  </tr>
                  <tr class="clickable">
                    <td data-title="Link">
                    <button type="button" class="btn pmd-ripple-effect pmd-btn-raised btn-default"><i class="fa fa-code" aria-hidden="true"></i> Test </button >
                    <code>/api/<edit contenteditable="true">2</edit>/<edit contenteditable="true">5</edit></code>
                    </td>
                    <td data-title="Return">Fragen Bereich</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row button-container">
        <div class="col-md-10 col-md-offset-1">
          <a href="https://github.com/JohnDeved/f-Online-Nodejs-api">
            <button type="button" class="btn pmd-ripple-effect pmd-btn-raised btn-primary"><i class="fa fa-github" aria-hidden="true"></i> Github </button >
          </a>
          <a href="https://github.com/JohnDeved/f-Online-Nodejs-api/archive/master.zip">
            <button type="button" class="btn pmd-ripple-effect pmd-btn-raised btn-info"><i class="fa fa-download" aria-hidden="true"></i> Download </button >
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery before Propeller.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/propeller.min.js"></script>
  <script type="text/javascript" src="js/list.js"></script>
</body>

</html>