<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Propeller Basic HTML Template</title>

  <!-- Bootstrap css-->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!--Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Propeller css -->
  <link href="css/propeller.min.css" rel="stylesheet">

  <!-- css -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div class="row infocard vertical-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="pmd-card pmd-table-card-responsive pmd-z-depth-1">
        <div class="pmd-table-card">
          <table class="table pmd-table table-hover">
            <thead>
              <tr>
                <th width="40%">Link</th>
                <th width="60%">Return</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Link"><code>.pmd-list</code></td>
                <td data-title="Return">Add this class for all the list items.</td>
              </tr>
              <tr>
                <td data-title="Link"><code>.pmd-card-list</code></td>
                <td data-title="Return">Class to be added to the list for formatting purpose.</td>
              </tr>
              <tr>
                <td data-title="Link"><code>.pmd-list-icon</code></td>
                <td data-title="Return">Add this class when your list contains icons.</td>
              </tr>
              <tr>
                <td data-title="Link"><code>.pmd-list-avatar</code></td>
                <td data-title="Return">Add this class when your list contains profile pic.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery before Propeller.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/propeller.min.js"></script>
</body>

</html>