<!DOCTYPE html>
<html>
  <head>
    <title>f-Online Api</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>/api <br>-für alle fragen</p>
    <p>/api/(fragenid) <br>-für einzel frage</p>
    <p>/api/(fragenid1)/(fragenid2) <br>-fragen bereich</p>
  </body>
</html>
