.card-top {
  background: #4285f4;
  margin-top: 10%;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: solid 0px;
}

.content-container {
  background: white;
  padding: 25px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.row-container {
    margin: 0;
}

code {
  cursor: text !important;
}

edit {
  color: blue;
}

.text-white {
  color: white;
  margin: 15px;
}